<?xml version='1.0' encoding='utf-8'?>
<GamologeeSettings>
	<guiSettings>
	
		<!--------------------------------------->
	    <!--  GOOGLE ANALYTICS   -->
	    <!--------------------------------------->
	    
	    <property name='googleAnalyticsID' value='XXXXXXXXX'/>
	    <property name='googleAnalyticsOn' value='true' />
	    <property name='keepTrackOfButtons' value='true' />
	    <property name='GoogleAnalyticsDebugMode' value='false' />
	    
	    <!--------------------------------------->
	    <!--  GINGEE ANALYTICS   -->
	    <!--------------------------------------->
	    
	 <!-- 	<property name='gingeeAnalyticsID' value='XXXXXXXXXXXXXXXXXXX' />
	  	<property name='gingeeAnalyticsOn' value='true' />
	    <property name='gingeeAnalyticsDebugMode' value='false' />-->
	
	    <!--------------------------------------->
	    
		<property name='loggerTraceLevel' value='ALL' />
		<property name='loggerExceptionLevel' value='NONE' />

		<property name='stageTargetWidth' value='1200' />
		<property name='stageTargetHeight' value='800' />
		<property name='spriteSheets' def_x_padding='0' def_y_padding='0' />
		<property name='autoScale_x_y_positions' value='false'/>
		<property name='autoScaleComponnentsDimentions' value='false'/>
		<property name='useSmoothing' value='true'/>
		<property name='keepTrackOfComponnents' value='false'/>
		<property name='useMemoryTracker' value='true'/>
		<property name='draggingProperties' MOUSE_DELTA_MAX_FOR_CLICK='23' MOUSE_DELTA_X_MIN_FOR_SIDE_DRAG='128' MOUSE_DELTA_Y_MAX_FOR_SIDE_DRAG='50' />
		<property name='defFontName' value='_arial'/>
		<property name='defFontSize' value='35'/>
		<property name='defFontColor' value='0x0000000'/>

		<property name='enableToolTips' value='true'/>
		<property name='toolTipsFontName' value='_Gilb'/>
		<property name='toolTipsFontSize' value='15'/>
		<property name='toolTipsFontColor' value='0x0eeeeee'/>
		<property name='toolTipsBackgroundColor' value='0x0000000'/>
		<property name='toolTipsDelayInMillisecs' value='200'/>

		<property name='scrollMinTweenTime' value='0.3'/>
		<property name='scrollMaxTweenTime' value='0.5'/>

		<property name='scrollbarBarColor' value='0x0cccccc'/>
		<property name='scrollbarShadowColor' value='0x0999999'/>
		<property name='scrollbarBarAlpha' value='1'/>
		<property name='scrollbarOutlineColor' value='0x0dddddd'/>
		<property name='scrollbarOutlineInnerAlpha' value='0'/>
		<property name='scrollbarOutlineInnerColor' value='0x0cccccc'/>
		<property name='scrollbarShadowAlpha' value='0.5'/>

		<property name='comboBoxTextSize' value='35'/>
		<property name='comboBoxTextColor' value='0x0000000'/>
		<property name='comboBoxTextFont' value='_AvantGardeBook'/>
		<property name='comboBoxTextFillAlpha' value='1'/>
		<property name='comboBoxFillColor' value='0x0ffffff'/>
		<property name='comboBoxArrowColor' value='0x0778899'/>

	</guiSettings>
	
		<tutorialSettings>
	    
	        <!-- ********************************************************************************************************************************************
	         ************************************************ PLATFORM SETTINGS **********************************************************************
	         ********************************************************************************************************************************************  -->
	    
	    <!--------------------------------------->
	    <!--  LOGGING   -->
	    <!--------------------------------------->
	    
	    <!--STRING. Defines trace printing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if traceLevel is on WARN than WARN & FATAL logging will print trace too but DEBUG & INFO logging will not print trace. -->
	    <property name='loggerTraceLevel' value='ALL' />
	    <!--STRING. Defines exception throwing level of logger. availble values are : -->
	    <!-- ALL, INFO, DEBUG, WARN, FATAL, NONE -->
	    <!-- the levels are in ascending order. if exceptionLevel is on WARN than WARN & FATAL logging will throw an exception too but DEBUG & INFO logging will not throw an exception. -->
	    <property name='loggerExceptionLevel' value='NONE' />
	    
	    <!--------------------------------------->
	    <!--  GENERAL PREFERENCES  -->
	    <!--------------------------------------->
	    
	    <!--UINT. the glow color of tutorial glowing objects -->
	    <property name='glowColor' value='0x11cccc' />
	    <!--UINT. determine glow quality. values are: 1=LOW, 2=MEDUM, 3=HIGH. -->
	    <property name='glowQuality' value='3' />
	    <!--BOOLEAN. enables/disables audio FX by tutrial module -->
	    <property name='enableQuitTutorial' value='true' />  
	    <!--BOOLEAN. enables/disables audio FX by tutrial module -->
	    <property name='enableAudio' value='false' />    
	    <!--BOOLEAN. enables/disables text typewriter effect on tutorial texts -->
	    <property name='typeText' value='true' />
	    <!--String. The "Tutorial window frame" asset name in the sprite sheet -->
	    <property name='tutorialWindowAsset' value='pop-up' />
	     <!--String. The "Tutorial window Close button" asset name in the sprite sheet -->
	    <property name='tutorialWindowCloseAsset' value='closeBtn' />
	     <!--String. The "OK Button" asset name in the sprite sheet -->
	    <property name='tutorialWindowOKButtonAsset' value='commandBtn' />
	     <!--String. The "Tutorial Cursor" asset name in the sprite sheet -->
	    <property name='tutorialCursorAsset' value='TutorialCursor' />
	     <!--String. The "Tutorial Cursor" asset name in the sprite sheet -->
	    <property name='tutorialSpriteAtlasName' value='tutorialSpriteAtlas' />
	
		<!--INT. The "Tutorial window Close button" x displacement. this value will be scaled -->
	    <property name='closeAssetDisplaceX' value='-30' />
	    <!--INT. The "Tutorial window Close button" y displacement. this value will be scaled -->
	    <property name='closeAssetDisplaceY' value='-30' />
	    
	    <!--------------------------------------->
	    <!-- FONT SETTINGS -->
	    <!--------------------------------------->
	    
	    <!--STRING. determine default text font. font MUST be manually embedded! -->
	    <property name='fontName' value='_Gilb' />
	    <!--UINT. determine default text size in pixels. -->
	    <property name='fontSize' value='32' />
	    <!--UINT. determine default text color in HEX. -->
	    <property name='fontColor' value='0xeeeeee' />
	</tutorialSettings>
</GamologeeSettings>